---
import favicon from '../images/favicon.svg';
import '@fontsource/lilita-one';
import '@fontsource/zen-maru-gothic';

interface Props {
	title: string;
}

const { title } = Astro.props;

const prefix = import.meta.env.NOVUS_URL_PREFIX;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="the beating heart of innovation" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="AI Support Coach for Wellness Services" />
		<meta property="og:description" content="Simple, affordable and scalable." />
		<meta property="og:image" content="https://nuroverse-public.s3.us-east-2.amazonaws.com/og-image.png" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<link rel="apple-touch-icon" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<!-- <script src=`https://${prefix}.nuroverse.co/novus-chat/index.js` type="module" defer /> -->
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<!-- Novus AI Chat Embed -->
		<!-- <nuroverse-assistant /> -->
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		background-size: 224px;
		@apply bg-trusty-50;
		@apply text-text-black;
	}

	.my-container {
		@apply container;
		@apply px-3;
	}
	.my-h-screen {
		@apply h-screen;
		height: -webkit-fill-available;
		height: 100svh;
	}
	.btn-primary, .btn-secondary {
		@apply rounded-md;
		@apply px-4;
		@apply pt-1;
		@apply pb-2;
		@apply shadow-md;
		@apply hover:shadow-sm;
		@apply text-lg;
		@apply font-sans;
		@apply font-semibold;
		@apply hover:font-bold;
	}
	.btn-primary {
		@apply text-trusty-500;
		@apply bg-serenity-shade;
		@apply hover:bg-serenity;
	}
	.btn-secondary {
		@apply bg-trusty-400;
		@apply text-trusty-50;
		@apply hover:text-serenity;
	}
	.gold-and-bold {
		@apply font-bold;
		@apply text-serenity;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.section-title {
		@apply text-5xl pt-8 font-display text-trusty-400 uppercase md:mx-3;
	}

	.section-subtitle {
		@apply text-lg pb-8 uppercase font-bold text-trusty-300 md:mx-3;
	}

	.bg-color-animated {
		background: linear-gradient(270deg, #02231e, #043b34);
		background-size: 400% 400%;

		-webkit-animation: AnimateBackground 10s ease infinite;
		-moz-animation: AnimateBackground 10s ease infinite;
		-o-animation: AnimateBackground 10s ease infinite;
		animation: AnimateBackground 10s ease infinite;
	}

	li {
		@apply ml-12 -indent-12 text-xl before:content-[""] before:inline-block before:bg-checked-box before:bg-contain before:bg-no-repeat before:bg-center before:w-[2rem] before:h-[2rem] before:mr-4 before:align-bottom;
	}

	@-webkit-keyframes AnimateBackground {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimateBackground {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-o-keyframes AnimateBackground {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes AnimateBackground {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
</style>
